@use "sass:math";

@font-face {
  font-family: "Poppins-Bold";
  src: url("../../public/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-BoldItalic";
  src: url("../../public/fonts/Poppins-BoldItalic.ttf");
}
@font-face {
  font-family: "Poppins-LightItalic";
  src: url("../../public/fonts/Poppins-LightItalic.ttf");
}

$darkBrown: #733635;

$brown: #a45a52;

$cream: #edead3;

$green: #8f9779;

$darkGreen: #4b6f40;

@mixin wrappedFlexDisplaying(
  $direction: row,
  $justify: flex-start,
  $align: stretch
) {
  display: flex !important;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: wrap;
}

@mixin flexDisplaying($direction: row, $justify: flex-start, $align: stretch) {
  display: flex !important;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
