@import "main";

.outer {
  display: flex;
  flex-direction: column;
  background-image: url(../../public/images/food.jpeg);
  background-size: cover; /* Adjust as needed */
  margin-top: 15vh;
  padding: 2em;
  //   background: radial-gradient(circle, #a45a52, #63413e);
  color: white;
  text-align: center;
  height: 50em;
  padding: 0;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 5em;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  p {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    width: 55%;
  }
}
