@import "main";


.modal{
    color: $darkBrown;
    border: none;
    display: flex;
    flex-direction: column;

    h2{
        text-align: center;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;

        button{
            padding: 5px;
            color: $darkBrown;
            border: 1px solid $darkBrown;
            border-radius: 5px;
        }

        button:hover{
            cursor: pointer;
        }
    }

    fieldset{
        margin-top: 20px;
        width: 20vw;
        min-width: 200px;
    }

    .typeContainer{
        margin-top: 20px;
        display: flex;
        gap: 20px;
    }

}

