@import "main";


.container{
    
    color: $darkBrown;

    img{
        width: 350px;
        height: 210px;
        display: block;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .title{
        color: $darkGreen;
        text-align: center;
    }
    .second{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }

    .third{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;

        .ingrediants{
            margin-left: 60px;
        }
    }
    .fourth{
        display: flex;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 20px;

        img{
            width: 100px;
            height: 100px;
        }
        .pfp{
            left: auto;
        }

    }

    .order{
        margin-left: 20px;
        margin-right: 20px;

        button {
            border: none;
            border-radius: 5px;
            padding: 8px;
            display: block;
            width: 25%;
            position: absolute;
            left: 37.5%;
            size: 100px;
            background-color: $cream;
            color: $darkGreen;
        }
        button:hover {
            position: relative;
            top: -5px;
            background-color:burlywood;
        }
        
    }
    

}