@import "main";

.footer {
  background: linear-gradient(to right, $cream, #bab8a5);
  height: 4vh;
  padding: 20px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;

    div {
        color: $darkGreen;
    }
}
