@import "main";

.footer{
    position: fixed;
    bottom: 0;
    background-color: $cream;
    height: 8vh;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    
    h3 {
        color: $darkBrown;
    }

    div {
        color: $darkGreen;
    }

    
}


