@import "main";

.header {
  background: linear-gradient(to right, $cream, #bab8a5);
  font-size: 5vh;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8%;
  padding: 5px 15px;
  z-index: 100;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;

  .left {
    margin-right: auto;
    // font-size: 100%;
    flex-shrink: 2;
    color: $darkGreen;
  }

  .middle {
    display: flex;
    gap: 5%;
    color: $brown;
    flex-grow: 1; /* Allow the middle section to take up remaining space */
    justify-content: center; /* Center the items horizontally */

    a {
      text-decoration: none;
      color: $darkBrown;
      font-size: 0.75em;
      &:hover {
        color: $darkBrown;
        opacity: 0.7;
      }
    }
  }

  .right {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    button {
      padding: 0em 1em;
      background: radial-gradient(circle, #944941, #944941);
      border-radius: 20px;
      font-size: 0.6em;
      border: none;
      color: white;
      height: 2.2em;
      align-self: center;
      &:hover {
        position: relative;
        top: 1px;
        cursor: pointer;
        opacity: 0.7;
      }
    }
    .signupButton {
      margin-right: 2em;
    }
  }
}

.test {
  width: 75px;
}
