@import "main";

.header {
  background: linear-gradient(to right, $cream, #bab8a5);
  font-size: 32px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vh;
  padding: 5px 15px;
  z-index: 100;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

  .first {
    display: flex;
    margin-bottom: 20px;
    align-content: center;

        }
     
        .right{
            display: flex;
            justify-content: space-between;
            gap: 20px;

            button{
                padding: 15px;
                border: none;
                background-color: $green;
                border-radius: 5px;
            }

            button:hover {
                position: relative;
                top: 1px;
                cursor: pointer;
                color: $darkGreen;
            }
        }
    }

    .right {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      button {
        padding: 0em 1em;
        background: radial-gradient(circle, #a45a52, #8b514b);
        border-radius: 5px;
        font-size: 0.6em;
        border: none;
        color: white;
        height: 2.2em;
        align-self: center;
      }

      .signupButton {
        margin-right: 2em;
      }

      button:hover {
        position: relative;
        top: 1px;
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }

  a {
    text-decoration: none;
    color: $darkBrown;
    font-size: 0.75em;
  }

  .second {
    display: flex;
    gap: 40px;
    color: $brown;

    a:hover {
      color: $darkBrown;
      opacity: 0.7;
    }
  }
}
