.layoutContainer {
  width: 100%;
  margin-top: 15vh;

  .top {
    background: radial-gradient(circle, #8f9779, #666c59);
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    padding: 1em;
  }

  .middle {
    background: radial-gradient(circle, #a45a52, #63413e);
    color: white;
    text-align: center;
    padding: 2em 0;
    font-size: 1.2em;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    background-color: #733635;
    padding: 1em;
    height: 8em;
    margin: 1em;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  }

  .bottom {
    background: radial-gradient(circle, #8f9779, #666c59);
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 2em 0em;
  }

  @media (min-width: 768px) {
    /* Adjust styles for larger screens if needed */
    .top {
      font-size: 2em;
    }

    .middle {
      font-size: 1.5em;
    }

    .card {
      width: calc(33.333% - 2em); /* Adjust as needed */
      max-width: none; /* Remove maximum width for larger screens */
    }

    .bottom {
      font-size: 2.5em;
    }
  }
}

