@import 'main';

.container{
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $darkBrown;
    padding: 0px 16px;
    gap: 8px;
    font-size: 1.75rem;

    .stats{
        span{
            color: $darkGreen;
            text-decoration: underline;
            text-decoration-color: $darkBrown;
        }
    }

    animation: myAnim 2s ease 0s 1 normal forwards;

    @keyframes myAnim {
        0% {
            animation-timing-function: ease-in;
            opacity: 0;
            transform: translateY(-250px);
        }
    
        38% {
            animation-timing-function: ease-out;
            opacity: 1;
            transform: translateY(0);
        }
    
        55% {
            animation-timing-function: ease-in;
            transform: translateY(-65px);
        }
    
        72% {
            animation-timing-function: ease-out;
            transform: translateY(0);
        }
    
        81% {
            animation-timing-function: ease-in;
            transform: translateY(-28px);
        }
    
        90% {
            animation-timing-function: ease-out;
            transform: translateY(0);
        }
    
        95% {
            animation-timing-function: ease-in;
            transform: translateY(-8px);
        }
    
        100% {
            animation-timing-function: ease-out;
            transform: translateY(0);
        }
    }

    .make{
        border: 3px solid $darkBrown;
        width: 40vw;
        display: flex;
        justify-content: center;

        div{
            display: flex;
            justify-content: center;
            margin-bottom: 12px;

            input{
                width: 50%;
                border: 2px solid $darkBrown;
                border-radius: 5px;
                text-indent: 10%;
                padding: 3px;
            }

            input:focus{
                outline: none;
            }

            input[type=text],input[type=text]::placeholder{
                color: $darkBrown;
               }


            button{
                padding: 10px;
                border-radius: 5px;
                border: none;
                color: white;
                background-color: $darkBrown;
            }
 
            button:hover{
                cursor: pointer;
                opacity: 0.7;
            }
        }

    }
}